<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Component signup page</title>
    <script src = "/static/signup.js" defer></script>
    <style>
             :root {
                        --primary-color: #22C55E;
                        --bg-color: #1a202c;
                        --text-color: #ffffff;
                        --input-bg: #2d3748;
                        --input-border: #4a5568;
                    }
        body{
            display: flex;
            height: 100vh;
           background-color: #F5F5F5;
           justify-content: center;
           align-items: center;
        }
    </style>
</head>
<body>


    <signup-form></signup-form>
</body>
</html>
